html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-text-color: #2196f3;
	--primary-white-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
	--primary-svg-color: #afb1b8;
	--bg-overlay: #2196f3e5;
	--transition-duration: 250ms;
	--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
	color: #000000;
	font-family: Raleway, Roboto, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 100%;
	text-decoration: none;
}
.logo span {
	color: var(--accent-text-color);
	font-family: Raleway, Roboto, sans-serif;
}
.logo.end {
	color: var(--primary-white-color);
	text-decoration: none;
}
.logo.end span {
	color: var(--accent-text-color);
}

.section {
	background-color: var(--primary-white-color);
	padding-top: 94px;
	padding-bottom: 94px;
}
.section.no-padding {
	padding-top: 0;
	padding-bottom: 0;
}
.section.secondary {
	background-color: var(--secondary-bg-color);
}

.section-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 100%;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}
.section-title.activity,
.section-title .team,
.section-title .clients {
	margin-bottom: 50px;
}

header {
	background-color: var(--primary-white-color);
	border: 1px solid #ececec;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.nav-list {
	display: flex;
	margin-left: 93px;
}
.nav-list .nav-item:not(:last-child) {
	margin-right: 50px;
}
.nav-list .nav-item {
	position: relative;
}

.nav-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.nav-link.current {
	color: var(--accent-text-color);
}
.nav-link.current:after {
	content: '';
	width: 100%;
	height: 4px;
	background-color: var(--accent-text-color);
	border-radius: 2px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}
.nav-link:hover,
.nav-link :focus {
	color: var(--accent-text-color);
}

.header-contact-list {
	display: flex;
	margin-left: auto;
	align-items: center;
}
.header-contact-list .header-contact-item:not(:last-child) {
	margin-right: 50px;
}
.header-contact-list .header-contact-link {
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.header-contact-list .header-contact-link:hover,
.header-contact-list .header-contact-link:focus {
	color: var(--accent-text-color);
	fill: var(--accent-text-color);
}

.header-contact-link {
	display: flex;
	align-items: center;
}
.header-contact-link:hover .header-item-icon {
	color: var(--accent-text-color);
	fill: var(--accent-text-color);
}

.header-item-icon {
	margin-right: 10px;
	fill: currentColor;
} /*# sourceMappingURL=main.css.map */
