:root {
	// Colors
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-text-color: #2196f3;
	--primary-white-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
	--primary-svg-color: #afb1b8;
	--bg-overlay: #2196f3e5;

	// Animation
	--transition-duration: 250ms;
	--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
