/* main text color #212121 */
/* secondart text color #757575 */

/* white text #FFFFFF */
/* accent color #2196F3 */

/* bg color #2F303A */
/* bg section color #F5F4FA */
:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-text-color: #2196f3;
	--primary-white-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
}
body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);

	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}

.list {
	list-style: none;
}
.logo {
	color: #000000;

	font-family: Raleway, Roboto, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 100%;
	text-decoration: none;
}
.logo span {
	color: var(--accent-text-color);
	font-family: Raleway, Roboto, sans-serif;
}

/* Site-nav */

.nav .nav-link {
	color: var(--title-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.nav .nav-link.current {
	color: var(--accent-text-color);
}
.nav .nav-link:hover,
.nav .nav-link:focus {
	color: var(--accent-text-color);
}

.header-contact-list .header-contact-link {
	color: var(--primary-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.header-contact-list .header-contact-link:hover,
.header-contact-list .header-contact-link:focus {
	color: var(--accent-text-color);
}

/* Main */
/* Hero */
.hero {
	background-color: #2f303a;
}
.hero-title {
	color: var(--primary-white-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;
}
.hero > .button {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	text-align: center;
}

/* Section */
.section.secondary {
	background-color: var(--secondary-bg-color);
}
.section-title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 100%;

	text-align: center;
}

/* Features */
.features-list .features-list-title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
}

.features-list .features-list-text {
	color: var(--primary-text-color);

	font-size: 14px;
	line-height: 1.71;
}

/* Activity */

/* Team */
.team-list .team-list-title {
	color: var(--title-text-color);

	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	text-align: center;
}

.team-list .team-list-text {
	color: var(--primary-text-color);

	font-size: 16px;
	line-height: 100%;
	text-align: center;
}

/* Footer */
.footer {
	background-color: #2f303a;
}
.logo.end {
	color: var(--primary-white-color);
	text-decoration: none;
}
.logo.end span {
	color: var(--accent-text-color);
}
.footer-list .footer-list-link {
	color: var(--primary-text-color);
	text-decoration: none;
	font-style: normal;
}
.footer-list-link.adress {
	color: var(--primary-white-color);
}

/* Button */
.button {
	color: var(--title-text-color);
	background-color: var(--secondary-bg-color);
	text-decoration: none;
}
.button.primary {
	color: var(--primary-white-color);
	background-color: var(--accent-text-color);
}
