/* main text color #212121 */
/* secondart text color #757575 */
/* white text #FFFFFF */
/* accent color #2196F3 */
/* bg color #2F303A */
/* bg section color #F5F4FA */

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-text-color: #2196f3;
	--primary-white-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
	--transition-duration: 250ms;
	--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--bg-overlay: #2196f3e5;
}
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);

	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.list {
	padding: 0;
	margin: 0;

	list-style: none;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding: 0px 15px 0px 15px;
}

.logo {
	color: #000000;

	font-family: Raleway, Roboto, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 100%;
	text-decoration: none;
}
.logo span {
	color: var(--accent-text-color);
	font-family: Raleway, Roboto, sans-serif;
}

/* Site-nav */

header {
	background-color: var(--primary-white-color);
	border: 1px solid #ececec;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.nav-list {
	display: flex;
	margin-left: 93px;
}

.nav-list .nav-item:not(:last-child) {
	margin-right: 50px;
}

.nav .nav-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--title-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.nav .nav-link.current {
	color: var(--accent-text-color);
}
.nav .nav-link:hover,
.nav .nav-link:focus {
	color: var(--accent-text-color);
}

.header-contact-list {
	display: flex;
	margin-left: auto;
}

.header-contact-list .header-contact-item:not(:last-child) {
	margin-right: 50px;
}

.header-contact-list .header-contact-link {
	color: var(--primary-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.02em;
	text-decoration: none;

	transition: color var(--transition-duration) var(--transition-timing-function);
}
.header-contact-list .header-contact-link:hover,
.header-contact-list .header-contact-link:focus,
.header-contact-link:hover .header-item-icon {
	color: var(--accent-text-color);
	fill: var(--accent-text-color);
}
.header-contact-link {
	display: flex;
	align-items: center;
}
.header-item-icon {
	margin-right: 10px;
	fill: currentColor;
}

/* Main */
/* Hero */
.portfolio-nav {
	display: flex;
	justify-content: center;

	margin-bottom: 50px;
}
.portfolio-nav .portfolio-nav-item:not(:last-child) {
	margin-right: 8px;
}
.portfolio-list {
	display: flex;
	flex-wrap: wrap;
}
.text-container {
	padding: 20px 24px;

	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
.portfolio-list .portfolio-list-item {
	transition: background-color var(--transition-duration)
			var(--transition-timing-function),
		color var(--transition-duration) var(--transition-timing-function),
		box-shadow var(--transition-duration) var(--transition-timing-function);
}
.portfolio-list .portfolio-list-item:hover {
	box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
		0px 1px 1px 0px #0000001f;
}
.portfolio-list > .portfolio-list-item:not(:nth-child(3n)) {
	margin-right: 30px;
}
.portfolio-list > .portfolio-list-item:nth-child(-n + 6) {
	margin-bottom: 30px;
}
.portfolio-list-title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	margin-bottom: 4px;
	margin-top: 0px;
}
.portfolio-list-text {
	font-size: 16px;
	line-height: 1.87;

	margin: 0px;
}

.img-thumb {
	position: relative;
	overflow: hidden;
}
.img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(101%);
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease;
	width: 100%;
	height: 100%;
	padding: 63px 24px;
	background: var(--bg-overlay);
}

.img-thumb-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.55;
	margin: 0;

	color: var(--primary-white-color);
}
.portfolio-list-item:hover .img-overlay {
	opacity: 1;
	transform: translateY(0);
}
/* Section */
.section {
	background-color: var(--primary-white-color);

	padding-top: 94px;
	padding-bottom: 94px;
}
.section.no-padding {
	padding-top: 0;
	padding-bottom: 0;
}
.section.secondary {
	background-color: var(--secondary-bg-color);
}
.section-title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 100%;
	text-align: center;

	margin-top: 0;
	margin-bottom: 0;
}
.section-title.activity,
.section-title.team {
	margin-bottom: 50px;
}

/* Footer */
.footer {
	background-color: #2f303a;

	padding-bottom: 60px;
	padding-top: 60px;
}
.footer-container {
	display: flex;
}
.logo.end {
	color: var(--primary-white-color);
	text-decoration: none;
}
.logo.end span {
	color: var(--accent-text-color);
}
.footer-list {
	margin-top: 20px;
}
.footer-list .footer-list-item:not(:last-child) {
	margin-bottom: 9px;
}
.footer-list .footer-list-link {
	color: var(--primary-white-color) 60%;
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	line-height: 1;

	transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-list-link.adress {
	color: var(--primary-white-color);

	font-size: 14px;
	line-height: 1.71;
}
.footer-list-link:hover,
.footer-list-link:focus {
	color: var(--accent-text-color);
}
.footer-social-link {
	display: inline-flex;
	width: 44px;
	height: 44px;
	padding: 12px;
	border-radius: 50%;
	background: #43444d;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	transition: background-color var(--transition-duration)
			var(--transition-timing-function),
		background-image var(--transition-duration)
			var(--transition-timing-function);
}
.footer-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 10px;

	color: var(--primary-white-color);
}
.footer-link-list {
	display: flex;
	gap: 10px;
}
.footer-link-icon {
	fill: var(--primary-white-color);
	transition: fill var(--transition-duration) var(--transition-timing-function);
}
.footer-social-link:hover,
.footer-social-link:focus {
	background-color: var(--accent-text-color);
}
.adress-container {
	margin-right: 70px;
	min-width: 231px;
}
.socials-footer {
	margin-right: 93px;
}
.subscribe-tittle {
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 10px;

	color: var(--primary-white-color);
}
.subscribe-form {
	display: flex;
	align-items: center;
}
.subscribe-form-field {
	min-width: 358px;
	height: 50px;
	color: rgba(255, 255, 255, 0.6);
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	padding: 16px 15px;
	font-size: 16px;
	line-height: 1.25;
	margin-right: 12px;
	box-shadow: 0px 4px 4px 0px #00000026;
}
.subscribe-submit {
	position: relative;
}
.plane-logo {
	position: absolute;
	top: 13px;
	right: 27px;

	fill: var(--primary-white-color);
}

/* Button */
.button {
	color: var(--title-text-color);
	background-color: var(--secondary-bg-color);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	border: none;
	cursor: pointer;

	display: inline-block;
	border-radius: 4px;
	padding: 6px 22px;
	min-height: 38px;
	min-width: 73px;

	transition: background-color var(--transition-duration)
			var(--transition-timing-function),
		color var(--transition-duration) var(--transition-timing-function),
		box-shadow var(--transition-duration) var(--transition-timing-function);
}
.button:hover,
.button:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-text-color);
	box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
		0px 3px 1px 0px #0000001a;
}

.button.primary {
	color: var(--primary-white-color);
	background-color: var(--accent-text-color);
	box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
		0px 3px 1px 0px #0000001a;
}
.button.primary:focus {
	color: var(--title-text-color);
	background-color: var(--secondary-bg-color);
}

.button.subscribe {
	font-family: Roboto;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;

	min-width: 200px;
	height: 50px;
	text-align: start;
	vertical-align: middle;
	cursor: pointer;
	border: none;

	box-shadow: 0px 4px 4px 0px #00000026;

	transition: background-color var(--transition-duration)
		var(--transition-timing-function);
}
.button.subscribe:hover {
	background-color: #1e88e5;
}
