.button {
	color: var(--title-text-color);
	background-color: var(--secondary-bg-color);

	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;

	display: inline-block;
	border-radius: 4px;
	padding: 10px 32px;
	min-width: 216px;
	min-height: 50px;
	&.primary {
		color: var(--primary-white-color);
		background-color: var(--accent-text-color);
	}
	&.subscribe {
		font-family: Roboto;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.87;
		letter-spacing: 0.06em;

		min-width: 200px;
		text-align: start;
		vertical-align: middle;
		cursor: pointer;
		border: none;

		box-shadow: 0px 4px 4px 0px #00000026;
		transition: background-color var(--transition-duration)
			var(--transition-timing-function);
	}
	&.subscribe:hover {
		background-color: #1e88e5;
	}
}

.btn-close {
	position: absolute;
	top: 8px;
	fill: #757575;
	transition: fill var(--transition-duration) var(--transition-timing-function);
	right: 8px;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	padding: 6px;
	background-color: var(--primary-white-color);
	cursor: pointer;
	transition: all var(--transition-duration) var(--transition-timing-function);

	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	&:hover .btn-close-icon {
		fill: var(--primary-white-color);
	}
	&:hover {
		background-color: var(--accent-text-color);
	}
}
.btn-close-icon {
	fill: var(--title-text-color);
	transition: fill var(--transition-duration) var(--transition-timing-function);
}
