.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);

	min-width: 528px;
	min-height: 581px;
	padding: 40px;

	opacity: 1;
	border-radius: 4px;
	background-color: var(--primary-white-color);
	transition: transform var(--transition-duration)
			var(--transition-timing-function),
		opacity var(--transition-duration) var(--transition-timing-function);

	box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
		0px 1px 3px 0px #0000001f;
}

.modal-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--title-text-color);

	margin: 0px 0px 12px 0px;
}

.modal-checkbox-wrapper {
	position: relative;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 30px;
	display: flex;
}

.modal-checkbox-label {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.modal-checkbox {
	appearance: none;
	position: absolute;
	&:checked + .checkbox-icon {
		background-color: var(--accent-text-color);
		background-image: url('../images/modal/checkbox.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		background-origin: border-box;
		border-color: var(--accent-text-color);
	}
	&:focus + .checkbox-icon {
		border: 3px solid var(--accent-text-color);
	}
}

.checkbox-icon {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 2px solid black;
	border-radius: 2px;
	margin-right: 8px;
	vertical-align: middle;
	transition: background-color var(--transition-duration)
			var(--transition-timing-function),
		border-color var(--transition-duration) var(--transition-timing-function);
}

.modal-link {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-thickness: 0%;
}

.modal-button-submit {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	text-align: center;

	transition: background-color var(--transition-duration)
			var(--transition-timing-function),
		border-color var(--transition-duration) var(--transition-timing-function);

	color: var(--primary-white-color);
	background-color: var(--accent-text-color);

	display: block;
	margin: 0 auto;

	min-width: 200px;
	height: 50px;
	opacity: 1;
	border-radius: 4px;
	border: 1px solid var(--accent-text-color);
	box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
		0px 1px 3px 0px #0000001f;
	cursor: pointer;
	&:hover,
	:focus {
		background-color: #1e88e5;
		border: 1px solid #1e88e5;
	}
}

.person-icon,
.mail-icon,
.phone-icon {
	position: absolute;
	top: 28.5px;
	left: 12px;
}
