.clients-list {
	display: flex;

	.clients-list-item {
		border: 1px solid var(--primary-svg-color);
		border-radius: 4px;
		transition: border-color var(--transition-duration)
				var(--transition-timing-function),
			transform var(--transition-duration) var(--transition-timing-function);

		&:not(:last-child) {
			margin-right: 30px;
		}

		&:hover,
		&:focus-within {
			border-color: var(--accent-text-color);
			transform: scale(1.02);
			.clients-list-logo {
				fill: var(--accent-text-color);
			}
		}
	}
}

.clients-list-link {
	display: block;
	min-width: 170px;
	max-height: 92px;
	padding: 16px 32px;
	&:focus {
		outline: none;
	}
}

.clients-list-logo {
	fill: var(--primary-svg-color);
	transition: fill var(--transition-duration) var(--transition-timing-function);
}
